/* Importa o tailwind */
@import "tailwindcss";

/* Variáveis */
theme {
  --color-blue-default: rgb(43, 127, 255);
}

:root {
  --color-blue-default: rgb(43, 127, 255);
}

/* Fonte padrão no body */
body {
  overflow-x: hidden;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* largura */
}

/* Cor do trilho (fundo da barra) */
::-webkit-scrollbar-track {
  background: #fff; /* cor de fundo */
}

/* Cor do "thumb" (parte que desliza) */
::-webkit-scrollbar-thumb {
  background: var(--color-blue-default); /* cor da alça */
  border-radius: 10px; /* bordas arredondadas */
}

/* Card tecnologia */
.card-tecnologia {
  @apply flex flex-col items-center bg-white border border-blue-600 shadow-2xl p-4 rounded-2xl hover:scale-105 hover:shadow-lg transition-all duration-300;
}

/* Card projeto */
.card-projeto {
  @apply flex flex-col justify-between gap-1.5 p-4 rounded-lg shadow-md bg-slate-800 text-white w-full h-full;
}
